In [1]:
%%capture
!pip install titiler

In [2]:
import s3fs
import test_helpers

import xarray as xr
import os
from titiler.xarray.io import Reader
import pandas as pd
import random

In [3]:
s3fsfs = s3fs.S3FileSystem()

In [4]:
test_files = [f"s3://{f}" for f in test_helpers.list_test_files(s3fsfs)]

# Test Zoom Level 0 Tile

In [5]:
open_and_load_times = []
zoom = 0
random_idx = random.randint(1,24)

In [6]:
for test_file in test_files:
    test_info, _ = test_helpers.load_tile(test_file, zoom, random_idx)
    open_and_load_times.append(test_info)

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
Function timed out after 60 seconds
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat1000_lon1800_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat100_lon180_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat500_lon900_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat50_lon90_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc
Function timed out after 60 seconds

In [7]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),tile,total_time
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,2.874558,10.386259,13.260817
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.632391,60.007910,60.640301
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.790241,8.371213,9.161454
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.597777,60.012326,60.610103
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.634486,60.930641,61.565127
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.689075,60.007199,60.696274
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.905575,60.009614,60.915189
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.750164,60.020865,60.771029
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.716255,40.795038,41.511293
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.630438,60.008424,60.638862
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.966413,26.930447,27.896860
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.595423,60.007036,60.602459

# Test Zoom Level 4 Tile

In [10]:
open_and_load_times = []
zoom = 4
random_idx = random.randint(1,24)

In [11]:
for test_file in test_files:
    test_info, _ = test_helpers.load_tile(test_file, zoom, random_idx)
    open_and_load_times.append(test_info)

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [12]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),tile,total_time
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,0.755558,2.120096,2.875654
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.739958,12.261650,13.001608
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.605823,2.788036,3.393859
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.599080,5.266326,5.865406
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.625110,1.927759,2.552869
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.597299,52.224880,52.822179
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.609681,4.136043,4.745724
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.803375,60.000964,60.804339
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.670618,1.269117,1.939735
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.597400,38.791816,39.389216
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.610570,0.733131,1.343701
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.754490,16.715890,17.470380

# Test Zoom Level 8 Tile

In [13]:
open_and_load_times = []
zoom = 8
random_idx = random.randint(1,24)

In [14]:
for test_file in test_files:
    test_info, _ = test_helpers.load_tile(test_file, zoom, random_idx)
    open_and_load_times.append(test_info)

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [16]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),tile,total_time
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,0.614394,2.550156,3.164550
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.666395,2.532377,3.198772
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.601991,3.218236,3.820227
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.601520,2.791399,3.392919
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.610235,0.691048,1.301283
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.601974,1.957800,2.559774
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.877590,1.187701,2.065291
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.783142,1.383994,2.167136
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,1.028324,1.466941,2.495265
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.594583,1.910437,2.505020
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.699175,1.887567,2.586742
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.600033,1.721661,2.321694