In [2]:
import pandas as pd
import s3fs
from IPython.display import display, HTML

import test_helpers

In [3]:
s3fsfs = s3fs.S3FileSystem()
test_files = test_helpers.list_test_files(s3fsfs)

# 0.01 degree x 0.01 degree timeseries

In [5]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 0.01
precision = 2
s3_times = {}
open_and_load_times = []

In [6]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [7]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),load,total_time
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,3.264979,33.402143,36.667122
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.996458,33.655577,34.652035
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,1.015692,47.317264,48.332956
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.929510,34.934449,35.863959
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,1.064045,2.261451,3.325496
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,1.092616,2.897567,3.990183
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,1.193425,2.905122,4.098547
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.988458,2.561683,3.550141
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.999584,6.060925,7.060509
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.974153,8.947643,9.921796
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,1.089967,10.955956,12.045923
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.946818,7.494571,8.441389

# 1 degree x 1 degree timeseries

In [8]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 1
precision = 0
s3_times = {}
open_and_load_times = []

In [9]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [10]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),load,total_time
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,1.101791,33.520642,34.622433
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,1.195007,41.064102,42.259109
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,1.038018,44.648386,45.686404
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.912793,30.719887,31.632680
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.982917,2.230406,3.213323
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.908898,2.877029,3.785927
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,1.024410,2.954441,3.978851
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.911280,2.266599,3.177879
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,1.011995,6.485529,7.497524
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,1.132538,10.318190,11.450728
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,1.096448,12.573818,13.670266
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.907640,8.048097,8.955737

# 5 degree x 5 degree timeseries

In [11]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 5
precision = 0
s3_times = {}
open_and_load_times = []

In [12]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [13]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),load,total_time
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,1.055305,35.836431,36.891736
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,1.034752,42.929635,43.964387
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,1.186595,49.664249,50.850844
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.960768,35.756254,36.717022
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.910810,3.117619,4.028429
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,1.085499,5.539883,6.625382
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,1.011009,3.258930,4.269939
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,1.014428,7.217867,8.232295
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.931507,6.901998,7.833505
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,1.058170,13.909519,14.967689
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,1.246087,13.894360,15.140447
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,1.193713,9.221389,10.415102