In [1]:
import pandas as pd

import sys
sys.path.append("..")
import helpers
import test_helpers

from IPython.display import display, HTML

In [2]:
bucket = 'nasa-eodc-scratch'
directory = 'NLDAS/netcdf/test_files'

In [3]:
credentials = helpers.get_credentials()
s3fsfs = helpers.create_s3filesystem(credentials)

In [4]:
test_files = s3fsfs.glob(f's3://{bucket}/{directory}/*_Tair.nc')

In [5]:
test_files

['nasa-eodc-scratch/NLDAS/netcdf/test_files/time1_lat1000_lon2000_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time1_lat2200_lon2200_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time1_lat225_lon450_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time24_lat1100_lon2200_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time24_lat350_lon700_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time24_lat45_lon90_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time24_lat500_lon1000_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time6_lat2200_lon2200_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time6_lat700_lon1400_Tair.nc',
 'nasa-eodc-scratch/NLDAS/netcdf/test_files/time6_lat90_lon180_Tair.nc']

# 0.01 degree x 0.01 degree timeseries

In [6]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 0.01
precision = 2
s3_times = {}
open_and_load_times = []

In [7]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat1000_lon2000_Tair.nc
starting test for time1_lat2200_lon2200_Tair.nc
starting test for time1_lat225_lon450_Tair.nc
starting test for time24_lat1100_lon2200_Tair.nc
starting test for time24_lat350_lon700_Tair.nc
starting test for time24_lat45_lon90_Tair.nc
starting test for time24_lat500_lon1000_Tair.nc
starting test for time6_lat2200_lon2200_Tair.nc
starting test for time6_lat700_lon1400_Tair.nc
starting test for time6_lat90_lon180_Tair.nc

In [8]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),load,total_time
0,time1_lat1000_lon2000_Tair.nc,"{'time': 1, 'lat': 1000, 'lon': 2000}",7.629395,4.289520,7.754141,12.043661
1,time1_lat2200_lon2200_Tair.nc,"{'time': 1, 'lat': 2200, 'lon': 2200}",18.463135,1.057637,13.767974,14.825611
2,time1_lat225_lon450_Tair.nc,"{'time': 1, 'lat': 225, 'lon': 450}",0.386238,0.947908,18.812197,19.760105
3,time24_lat1100_lon2200_Tair.nc,"{'time': 24, 'lat': 1100, 'lon': 2200}",221.557617,0.993237,3.885062,4.878299
4,time24_lat350_lon700_Tair.nc,"{'time': 24, 'lat': 350, 'lon': 700}",22.430420,1.121670,0.772833,1.894503
5,time24_lat45_lon90_Tair.nc,"{'time': 24, 'lat': 45, 'lon': 90}",0.370789,0.997076,0.018441,1.015517
6,time24_lat500_lon1000_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 1000}",45.776367,0.998496,1.547685,2.546181
7,time6_lat2200_lon2200_Tair.nc,"{'time': 6, 'lat': 2200, 'lon': 2200}",110.778809,1.025093,6.516292,7.541385
8,time6_lat700_lon1400_Tair.nc,"{'time': 6, 'lat': 700, 'lon': 1400}",22.430420,1.612204,1.889530,3.501734
9,time6_lat90_lon180_Tair.nc,"{'time': 6, 'lat': 90, 'lon': 180}",0.370789,0.983838,0.032317,1.016155

# 1 degree x 1 degree timeseries

In [9]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 1
precision = 0
s3_times = {}
open_and_load_times = []

In [10]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat1000_lon2000_Tair.nc
starting test for time1_lat2200_lon2200_Tair.nc
starting test for time1_lat225_lon450_Tair.nc
starting test for time24_lat1100_lon2200_Tair.nc
starting test for time24_lat350_lon700_Tair.nc
starting test for time24_lat45_lon90_Tair.nc
starting test for time24_lat500_lon1000_Tair.nc
starting test for time6_lat2200_lon2200_Tair.nc
starting test for time6_lat700_lon1400_Tair.nc
starting test for time6_lat90_lon180_Tair.nc

In [11]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),load,total_time
0,time1_lat1000_lon2000_Tair.nc,"{'time': 1, 'lat': 1000, 'lon': 2000}",7.629395,0.976579,7.211313,8.187892
1,time1_lat2200_lon2200_Tair.nc,"{'time': 1, 'lat': 2200, 'lon': 2200}",18.463135,1.011792,13.764028,14.775820
2,time1_lat225_lon450_Tair.nc,"{'time': 1, 'lat': 225, 'lon': 450}",0.386238,0.978934,19.067051,20.045985
3,time24_lat1100_lon2200_Tair.nc,"{'time': 24, 'lat': 1100, 'lon': 2200}",221.557617,1.014065,2.488021,3.502086
4,time24_lat350_lon700_Tair.nc,"{'time': 24, 'lat': 350, 'lon': 700}",22.430420,0.982440,1.039488,2.021928
5,time24_lat45_lon90_Tair.nc,"{'time': 24, 'lat': 45, 'lon': 90}",0.370789,0.992578,3.571442,4.564020
6,time24_lat500_lon1000_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 1000}",45.776367,0.995819,1.851695,2.847514
7,time6_lat2200_lon2200_Tair.nc,"{'time': 6, 'lat': 2200, 'lon': 2200}",110.778809,0.962971,6.767719,7.730690
8,time6_lat700_lon1400_Tair.nc,"{'time': 6, 'lat': 700, 'lon': 1400}",22.430420,0.998694,1.428829,2.427523
9,time6_lat90_lon180_Tair.nc,"{'time': 6, 'lat': 90, 'lon': 180}",0.370789,1.020834,4.232129,5.252963

# 5 degree x 5 degree timeseries

In [12]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 5
precision = 0
s3_times = {}
open_and_load_times = []

In [13]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat1000_lon2000_Tair.nc
starting test for time1_lat2200_lon2200_Tair.nc
starting test for time1_lat225_lon450_Tair.nc
starting test for time24_lat1100_lon2200_Tair.nc
starting test for time24_lat350_lon700_Tair.nc
starting test for time24_lat45_lon90_Tair.nc
starting test for time24_lat500_lon1000_Tair.nc
starting test for time6_lat2200_lon2200_Tair.nc
starting test for time6_lat700_lon1400_Tair.nc
starting test for time6_lat90_lon180_Tair.nc

In [14]:
pd.DataFrame(open_and_load_times)

,filename,chunk_shape,chunk_size (MB),open (seconds),load,total_time
0,time1_lat1000_lon2000_Tair.nc,"{'time': 1, 'lat': 1000, 'lon': 2000}",7.629395,0.984392,7.654013,8.638405
1,time1_lat2200_lon2200_Tair.nc,"{'time': 1, 'lat': 2200, 'lon': 2200}",18.463135,1.012722,13.566182,14.578904
2,time1_lat225_lon450_Tair.nc,"{'time': 1, 'lat': 225, 'lon': 450}",0.386238,0.931203,59.165310,60.096513
3,time24_lat1100_lon2200_Tair.nc,"{'time': 24, 'lat': 1100, 'lon': 2200}",221.557617,0.982089,2.965275,3.947364
4,time24_lat350_lon700_Tair.nc,"{'time': 24, 'lat': 350, 'lon': 700}",22.430420,0.968901,1.197177,2.166078
5,time24_lat45_lon90_Tair.nc,"{'time': 24, 'lat': 45, 'lon': 90}",0.370789,1.006513,10.530657,11.537170
6,time24_lat500_lon1000_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 1000}",45.776367,0.991790,4.586314,5.578104
7,time6_lat2200_lon2200_Tair.nc,"{'time': 6, 'lat': 2200, 'lon': 2200}",110.778809,1.002375,6.362228,7.364603
8,time6_lat700_lon1400_Tair.nc,"{'time': 6, 'lat': 700, 'lon': 1400}",22.430420,1.308019,6.645581,7.953600
9,time6_lat90_lon180_Tair.nc,"{'time': 6, 'lat': 90, 'lon': 180}",0.370789,1.283342,16.436451,17.719793